ul.timeline {
    list-style-type: none;
    position: relative;
    font-family: 'Red Ring', sans-serif;
}
ul.timeline:before {
    content: ' ';
    background: #0057fe;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0057fe;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
li {
    cursor: pointer;
}

p {
    cursor: default;
}